.list-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
}

.card-info{
    list-style: none;
    padding: 10px 30px;
    background-color: #9AC9FB;
    border-radius: 5px;
    transition: 0.3s;
}

.card-info:hover{
    cursor: pointer;
    background-color: #61BBF8;
    transform: scale(1.05);
    color: white;
}